
<template name="marketplaceUser">
<div class="container-fluid">
  <div class="row" id="row-container">
    <div class="col-sm-2 col-md-2" id="col-left"></div>
    
    <div class="col-sm-7 col-md-7" id="col-mid">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-8 col-md-8">
        {{> newProduct}}
        
      </div>
      <div class="col-sm-2 col-md-2"></div>      
    </div>            
    <div class="col-sm-3 col-md-3" id="col-right"></div>
  </div>
</div>
</template>

<template name="newProduct">
{{> quickForm collection="Products" id="insertProductForm" type="insert" class="new-product-form"}}
</template>