<template name="navigation">
  {{#if currentUser}}
    <div class="jumbotron jumbotron-head">
      <span style="float: left;"><a href="/" id="a-nav">Aficionado</a></span> 
      <span style="float: right;">
        <ul>
          <li style="display: inline;"><a href="{{pathFor route='search'}}" id="a-nav">Search&emsp;</a></li>
          <li style="display: inline;"><a href=# class="logout_control" id="a-nav">Logout &emsp;</a></li>
          <span class="glyphicon glyphicon-user"></span>
        </ul>
      </span>      
    </div>

    <div class="jumbotron jumbotron-head3">
      <span style="" id="jumbotron-register1">Make Restaurants Scalable!</span> 
        <span style="float: right; margin: 0px;">
          <button type="button" class="btn btn-default btn-lg" style="border-radius: 39px; background-color: #ddefef;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); border: solid 1px #a5a2a2;">Notification <span class="badge" ></span></button>
      </span>
    </div>
    
  {{else}}
    <div class="jumbotron jumbotron-head">
      <span style="float: left;"><a href="/" id="a-nav">Aficionado</a></span> 
      <span style="float: right;">
        <ul class="menu">
          <li style="display: inline;"><a href="{{pathFor route='search'}}" id="a-nav">Search&emsp;</a></li>
          <li style="display: inline;"><a href="{{pathFor route='register'}}" id="a-nav">Register&emsp;</a></li>
          <li style="display: inline;"><a href="{{pathFor route='login'}}" id="a-nav">Login&emsp;</a></li>
          <span class="glyphicon glyphicon-user"></span>
        </ul>
      
      </span>
    </div>


    <div class="jumbotron jumbotron-head2">
      <span style="" id="jumbotron-register1">Make Restaurants Scalable</span> 
        
    </div>

    
  {{/if}}
</template>
